Repository EMMC-ASBL/oteapi-plugin-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, update-docs-api-reference, update-docs-index

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
      exclude: ^{{ cookiecutter.project_slug }}/
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: https://github.com/ambv/black
    rev: 22.1.0
    hooks:
    - id: black
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.941
    hooks:
    - id: mypy
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^{{ cookiecutter.project_slug }}/
    - id: update-docs-api-reference
      name: Update API Reference in Documentation for Generated Repo
      entry: bash -c 'cd "{{ cookiecutter.project_slug }}" && invoke "$@"' --
      args: [create-api-reference-docs, --pre-clean, --pre-commit]
      language: python
      pass_filenames: false
      files: ^{{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/.*\.py$
      description: Update the API Reference documentation, whenever a Python file is touched in the code base.
    - id: update-docs-index
      name: Update Landing Page for Documentation for Generated Repo
      entry: invoke
      args: [-r,  "{{ cookiecutter.project_slug }}", create-docs-index]
      language: python
      pass_filenames: false
      files: ^{{ cookiecutter.project_slug }}/README.md$
      description: Update the landing page for the documentation if the source file (README.md) is changed.

Remove everything pylint (and isort)
  .pre-commit-config.yaml
  requirements.txt
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/tasks.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Add ruff CI job to generated project
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Fix line break in docker-compose entrypoint
  {{ cookiecutter.project_slug }}/docker-compose.yml
Due: none

Use SINTEF/ci-cd where possible
  .github/dependabot.yml
  .github/utils/requirements.txt
  .github/workflows/cd_dependencies.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_updated_master.yml
Due: none

Use ruff (over pylint and isort) (#189)
  .pre-commit-config.yaml
  requirements.txt
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/tasks.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Use SINTEF/ci-cd for the generated project
  .github/utils/requirements.txt
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_updated_master.yml
  .pre-commit-config.yaml
  hooks/post_gen_project.sh
  requirements.txt
  {{ cookiecutter.project_slug }}/.github/dependabot.yml
  {{ cookiecutter.project_slug }}/.github/utils/pyproject_toml_update_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/utils/release_tag_msg.txt
  {{ cookiecutter.project_slug }}/.github/utils/single_dependency_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_dependencies.yml
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.gitignore
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/docs/all_strategies.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/download.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/filter.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/function.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/mapping.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/parse.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/resource.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/transformation.md
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/tasks.py
Due: none

Add update-pyproject pre-commit hook
  .github/utils/requirements.txt
  .github/workflows/cd_dependencies.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  requirements.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_dependencies.yml
Due: none

Add some comments
  .github/workflows/cd_dependencies.yml
  .github/workflows/ci_dependabot.yml
Due: none

Use Py3.9 style typing
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Remove ruff CI job
  .gitignore
  .pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.gitignore
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
Due: none

Update post-gen statement
  .github/workflows/ci_dependabot.yml
  hooks/post_gen_project.sh
Due: none

Apply suggestions from code review
  README.md
Due: none

Added DOI badge (#168)
  README.md
Due: none

Encapsulate in quotations
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
Due: none

Use typing.Annotated
  hooks/pre_gen_project.py
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/mkdocs.yml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/tasks.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: pylint, update-docs-api-reference

Run black on all files
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
Due: update-docs-api-reference

Try to run safety without ignoring NumPy thing
  .github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Fix line length issues
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
Due: update-docs-api-reference

Use SINTEF/ci-cd throughout (#198)
  .github/dependabot.yml
  .github/utils/requirements.txt
  .github/workflows/cd_dependencies.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_updated_master.yml
  .gitignore
  .pre-commit-config.yaml
  hooks/post_gen_project.sh
  requirements.txt
  {{ cookiecutter.project_slug }}/.github/dependabot.yml
  {{ cookiecutter.project_slug }}/.github/utils/pyproject_toml_update_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/utils/release_tag_msg.txt
  {{ cookiecutter.project_slug }}/.github/utils/single_dependency_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_dependencies.yml
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.gitignore
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/docs/all_strategies.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/download.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/filter.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/function.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/mapping.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/parse.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/resource.md
  {{ cookiecutter.project_slug }}/docs/api_reference/strategies/transformation.md
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/tasks.py
Due: none

Fix line break in docker-compose entrypoint (#191)
  {{ cookiecutter.project_slug }}/docker-compose.yml
Due: none

Run safety without ignoring NumPy thing (#199)
  .github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Cleanup pytest configuration
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: none

Use model_copy() method instead of copy()
  .github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
Due: update-docs-api-reference

Fix typo
  .github/workflows/ci_tests.yml
Due: none

Migrate to pydantic v2 (#188)
  .github/workflows/ci_tests.yml
  hooks/pre_gen_project.py
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/mkdocs.yml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: pylint, update-docs-api-reference

Use the latest SINTEF/ci-cd pre-commit hook
  .pre-commit-config.yaml
Due: none

Use the latest SINTEF/ci-cd pre-commit hook (#215)
  .pre-commit-config.yaml
Due: none

Hotfix - quick fix for CD - dependencies
  .github/workflows/cd_dependencies.yml
Due: none

Apply suggestions from code review
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: none

Use at minimum pytest v8
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: none

Satisfy updated black
  {{ cookiecutter.project_slug }}/tests/conftest.py
  {{ cookiecutter.project_slug }}/tests/strategies/conftest.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_download.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_filter.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_function.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_mapping.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_parse.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_resource.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_transformation.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Use at min. mkdocs-material v9.5.5
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: none

Auto-merge pre-commit ci PRs to upgrade hooks
  .github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
Due: none

Add pre-commit.ci config & stop pre-commit CI job
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
Due: none

Upgrade SINTEF/ci-cd to v2.7.4
  {{ cookiecutter.project_slug }}/.github/workflows/cd_dependencies.yml
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Update GH Actions in cookiecutter project
  hooks/post_gen_project.sh
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Ignore safety ID 70612
  .github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Ensure safety ID 70612 is ignored for generated template
  .github/workflows/ci_tests.yml
Due: none
