Repository EMMC-ASBL/oteapi-plugin-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, update-docs-api-reference, update-docs-index

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
      exclude: ^{{ cookiecutter.project_slug }}/
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: https://github.com/ambv/black
    rev: 22.1.0
    hooks:
    - id: black
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.941
    hooks:
    - id: mypy
      exclude: ^{{ cookiecutter.project_slug }}/

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^{{ cookiecutter.project_slug }}/
    - id: update-docs-api-reference
      name: Update API Reference in Documentation for Generated Repo
      entry: bash -c 'cd "{{ cookiecutter.project_slug }}" && invoke "$@"' --
      args: [create-api-reference-docs, --pre-clean, --pre-commit]
      language: python
      pass_filenames: false
      files: ^{{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/.*\.py$
      description: Update the API Reference documentation, whenever a Python file is touched in the code base.
    - id: update-docs-index
      name: Update Landing Page for Documentation for Generated Repo
      entry: invoke
      args: [-r,  "{{ cookiecutter.project_slug }}", create-docs-index]
      language: python
      pass_filenames: false
      files: ^{{ cookiecutter.project_slug }}/README.md$
      description: Update the landing page for the documentation if the source file (README.md) is changed.

Update README.md
  README.md
Due: none

Added EOF
  README.md
Due: none

Added PR template with checklist for reviewers
  .github/pull_request_template.md
Due: none

Added PR template with checklist for reviewers.
  .github/pull_request_template.md
Due: none

Add comment for uncommon syntax
  {{ cookiecutter.project_slug }}/tests/strategies/test_download.py
Due: none

Add GitHub Actions workflows
  hooks/post_gen_project.sh
  {{ cookiecutter.project_slug }}/.github/dependabot.yml
  {{ cookiecutter.project_slug }}/.github/utils/release_tag_msg.txt
  {{ cookiecutter.project_slug }}/.github/utils/single_dependency_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Try to make GH Action variables "raw" jinja
  .pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Clean up CI/CD files regarding "raw" sections
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Fix typo
  hooks/post_gen_project.sh
Due: none

Remove `git` output in post script
  hooks/post_gen_project.sh
Due: none

Update tests and more (#60)
  .github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/requirements.txt
  {{ cookiecutter.project_slug }}/tests/conftest.py
  {{ cookiecutter.project_slug }}/tests/static/sample1.db
  {{ cookiecutter.project_slug }}/tests/static/sample2.json
  {{ cookiecutter.project_slug }}/tests/strategies/conftest.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_download.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_filter.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_function.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_mapping.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_parse.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_resource.py
  {{ cookiecutter.project_slug }}/tests/strategies/test_transformation.py
  {{ cookiecutter.project_slug }}/tests/test_parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Add VIPCOAT and OpenModel to README acknowledgement
  README.md
  {{ cookiecutter.project_slug }}/README.md
  {{ cookiecutter.project_slug }}/docs/index.md
Due: update-docs-index

Add VIPCOAT and OpenModel to README acknowledgement (#74)
  README.md
  {{ cookiecutter.project_slug }}/README.md
  {{ cookiecutter.project_slug }}/docs/index.md
Due: update-docs-index

Use flit build system
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/requirements.txt
  {{ cookiecutter.project_slug }}/requirements_dev.txt
  {{ cookiecutter.project_slug }}/requirements_docs.txt
  {{ cookiecutter.project_slug }}/setup.cfg
  {{ cookiecutter.project_slug }}/setup.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/__init__.py
Due: update-docs-api-reference

Typo for OTE-API -> OTEAPI
  {{ cookiecutter.project_slug }}/pyproject.toml
Due: none

Update CI jobs
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

Add build sdist CI job
  .github/workflows/ci_tests.yml
Due: none

Add GitHub Actions workflows (#72)
  .pre-commit-config.yaml
  hooks/post_gen_project.sh
  {{ cookiecutter.project_slug }}/.github/dependabot.yml
  {{ cookiecutter.project_slug }}/.github/utils/release_tag_msg.txt
  {{ cookiecutter.project_slug }}/.github/utils/single_dependency_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_release.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_cd_updated_main.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
Due: none

Update mkdocs config to new Python docs parser
  {{ cookiecutter.project_slug }}/mkdocs.yml
Due: none

Remove obsolete disable options
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Add new workflow for updating deps in pyproject.toml
  .github/dependabot.yml
  .github/utils/pyproject_toml_update_pr_body.txt
  .github/workflows/cd_dependencies.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/utils/pyproject_toml_update_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_dependencies.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/tasks.py
Due: none

Satisfy pylint
  {{ cookiecutter.project_slug }}/tasks.py
Due: none

Blacken tasks.py
  {{ cookiecutter.project_slug }}/tasks.py
Due: none

Fix pylint import error with local package issue
  {{ cookiecutter.project_slug }}/.github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
Due: none

Comply with PEP484
  {{ cookiecutter.project_slug }}/tasks.py
Due: none

Use flit build system (#77)
  .github/dependabot.yml
  .github/utils/pyproject_toml_update_pr_body.txt
  .github/workflows/cd_dependencies.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  {{ cookiecutter.project_slug }}/.github/utils/pyproject_toml_update_pr_body.txt
  {{ cookiecutter.project_slug }}/.github/workflows/cd_dependencies.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_automerge_dependabot.yml
  {{ cookiecutter.project_slug }}/.github/workflows/ci_dependabot.yml
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/requirements.txt
  {{ cookiecutter.project_slug }}/requirements_dev.txt
  {{ cookiecutter.project_slug }}/requirements_docs.txt
  {{ cookiecutter.project_slug }}/setup.cfg
  {{ cookiecutter.project_slug }}/setup.py
  {{ cookiecutter.project_slug }}/tasks.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/__init__.py
Due: update-docs-api-reference

Remove `{% raw %}` and similar from workflow
  .github/workflows/cd_dependencies.yml
Due: none

Remove `{% raw %}` and similar from workflow (#111)
  .github/workflows/cd_dependencies.yml
Due: none

Install only `-r requirements.txt`
  .github/workflows/cd_dependencies.yml
Due: none

Test workflow
  .github/workflows/cd_dependencies.yml
Due: none

Revert "Test workflow"
  .github/workflows/cd_dependencies.yml
Due: none

Properly fix dependencies workflow (#113)
  .github/workflows/cd_dependencies.yml
Due: none

Updated current year to 2023
  .github/utils/cookiecutter_values.yaml
  README.md
  cookiecutter.json
  {{ cookiecutter.project_slug }}/mkdocs.yml
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/__init__.py
Due: update-docs-api-reference

Updated current year to 2023 (#128)
  .github/utils/cookiecutter_values.yaml
  README.md
  cookiecutter.json
  {{ cookiecutter.project_slug }}/mkdocs.yml
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/__init__.py
Due: update-docs-api-reference

Use isort hook version 5.12.0
  .pre-commit-config.yaml
  {{ cookiecutter.project_slug }}/.pre-commit-config.yaml
Due: none

Added DOI badge
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Fix mkdocs config
  {{ cookiecutter.project_slug }}/mkdocs.yml
Due: none

Migrate to pydantic v2
  {{ cookiecutter.project_slug }}/pyproject.toml
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/download.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/filter.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/function.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/mapping.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/parse.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/resource.py
  {{ cookiecutter.project_slug }}/{{ cookiecutter.package_name }}/strategies/transformation.py
Due: update-docs-api-reference

Use cookiecutter input year in mkdocs file
  {{ cookiecutter.project_slug }}/mkdocs.yml
Due: none
